[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
autopep8 = "*"
pylint = "*"
pymysql = "*"

[requires]
python_version = "3.7"
