[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-wtf = "*"
autopep8 = "*"
pylint = "*"
pymysql = "*"
flask-bootstrap = "*"
flask-login = "*"
flask-mail = "*"
requests = "*"
lxml = "*"

[requires]
python_version = "3.7"
