[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
repo = "*"

[packages]
flask = "*"
pymysql = "*"
flask-mail = "*"
requests = "*"
lxml = "*"
flask-httpauth = "*"

[requires]
python_version = "3.6"
