<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<title>{% block title %}{% endblock %}</title>

		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<!-- CSS -->
		<link
			href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="owl-carousel/assets/owl.carousel.min.css"
			type="text/css"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/style.css') }}"
			type="text/css"
			media="all"
		/>

		<!-- Web-Fonts -->
		<link
			href="http://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
			rel="stylesheet"
		/>
		<link
			href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext"
			rel="stylesheet"
		/>

		{% block inner_css %}{% endblock %} {% block inner_script %}{% endblock %}
	</head>
	<body>
		{% block main_content %}{% endblock %}

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="owl-carousel/owl.carousel.min.js"></script>
	</body>
</html>
