<header id="header">
	<div class="wrapper">
		<div class="brand">
			<a href="/">CAI Service</a>
		</div>
		<div class="nav-list">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="#">民航法规</a></li>
				<li><a href="#">危险物品</a></li>
				<li><a href="#">行李状态</a></li>
				<li><a href="#">机场信息</a></li>
				<li><a href="#">满意度调查</a></li>
			</ul>
		</div>
		<!-- <div class="user">
		<img src="{{ user_avatar }}" alt="user-avatar" class="user-avatar">
		<button type="button" class="user-name">
			{{ user_name }}
		</button>
	</div> -->
	</div>
</header>
