{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block
main_content %} {% include "header.html" %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img
				src="{{ url_for('static', filename='images/slide1.jpg') }}"
				class="d-block w-100"
				alt="slide1"
			/>
		</div>
		<div class="carousel-item">
			<img
				src="{{ url_for('static', filename='images/slide2.jpg') }}"
				class="d-block w-100"
				alt="slide2"
			/>
		</div>
		<div class="carousel-item">
			<img
				src="{{ url_for('static', filename='images/slide3.jpg') }}"
				class="d-block w-100"
				alt="slide3"
			/>
		</div>
		<div class="carousel-item">
			<img
				src="{{ url_for('static', filename='images/slide4.jpg') }}"
				class="d-block w-100"
				alt="slide4"
			/>
		</div>
	</div>
	<a
		class="carousel-control-prev"
		href="#carouselExampleControls"
		role="button"
		data-slide="prev"
	>
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a
		class="carousel-control-next"
		href="#carouselExampleControls"
		role="button"
		data-slide="next"
	>
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<!-- banner bottom grids -->
<section class="about-bottom" id="services">
	<div class="container pb-lg-4">
		<div class="row bg-colors text-center">
			<div class="col-md-4 service-subgrids">
				<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
					<h3 class="text-wh font-weight-bold mb-3">安检流程</h3>
					<p class="text-li">
						Taque earum rerum hitaque tenetur rum sapiente
					</p>
				</div>
				<span class="fa fa-users" aria-hidden="true"></span>
			</div>
			<div class="col-md-4 service-subgrids bg-li">
				<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
					<h3 class="text-bl font-weight-bold mb-3">民航法规</h3>
					<p class="text-secondary">
						Taque earum rerum hitaque tenetur rum sapiente
					</p>
				</div>
				<span class="fa fa-linode" aria-hidden="true"></span>
			</div>
			<div class="col-md-4 service-subgrids">
				<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
					<h3 class="text-wh font-weight-bold mb-3">机场信息</h3>
					<p class="text-li">
						Taque earum rerum hitaque tenetur rum sapiente
					</p>
				</div>
				<span class="fa fa-book" aria-hidden="true"></span>
			</div>
		</div>
		<div class="row bg-colors text-center">
			<div class="col-md-4 service-subgrids bg-li">
				<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
					<h3 class="text-bl font-weight-bold mb-3">危险物品查询</h3>
					<p class="text-secondary">
						Taque earum rerum hitaque tenetur rum sapiente
					</p>
				</div>
				<span class="fa fa-laptop" aria-hidden="true"></span>
			</div>
			<div class="col-md-4 service-subgrids">
				<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
					<h3 class="text-wh font-weight-bold mb-3">行李状态查询</h3>
					<p class="text-li">
						Taque earum rerum hitaque tenetur rum sapiente
					</p>
				</div>
				<span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
			</div>
			<div class="col-md-4 service-subgrids bg-li">
				<div class="w3ls-about-grid py-lg-5 py-md-4 py-5 px-3">
					<h3 class="text-bl font-weight-bold mb-3">安检口排队情况查询</h3>
					<p class="text-secondary">
						Taque earum rerum hitaque tenetur rum sapiente
					</p>
				</div>
				<span class="fa fa-magic" aria-hidden="true"></span>
			</div>
		</div>
	</div>
</section>
<!-- //banner bottom grids -->
{% include "footer.html" %}
{% endblock %}
