{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block
inner_css %}
<style>
	#footer {
		background-color: rgba(255, 255, 255, 0);
		margin-top: 40px;
	}

	#footer p {
		color: #999999;
	}
</style>
{% endblock %} {% block main_content %}

<div class="background">
	{% include "header.html" %}
	<div id="login">
		<h2>登录</h2>
		{% if get_flashed_messages()[0] %}
		<div class="alert alert-primary flash-message">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ get_flashed_messages()[0] }}
		</div>
		{% endif %}
		<div id="login-form">
			<form method="POST">
				{{ form.hidden_tag() }}
				{{ form.account.label(class='input-label')
				}}{{ form.account(class='form-control') }}
				<span class="error-message">{{ form.account.errors[0] }}</span>
				{{ form.password.label(class='input-label')
				}}{{ form.password(class="form-control") }}
				<span class="error-message">{{ form.password.errors[0] }}</span>
				<p>
					{{ form.submit(class="btn btn-primary submit-button") }}
					<a href="#">忘记密码？</a>
				</p>
			</form>
			<p>没有账号？<a href="_register">立即注册 →</a></p>
		</div>
	</div>
	{% include "footer.html" %}
</div>

{% endblock %}
